<a href="https://colab.research.google.com/github/GeraldRyan/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module3-join-and-reshape-data/LS_DS_113_Join_and_Reshape_Data_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Join and Reshape datasets

Objectives
- concatenate data with pandas
- merge data with pandas
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [2]:
#!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz 

# Make sure we're in the top-level /content directory
#
# See below for notes on the cd command and why it's %cd instead of !cd
%cd /content

# Remove everything in the current working directory
#
# rm is the remove command
# -rf specifies the "recursive" and "force" options to remove all files in 
# subdirectories without prompting
#
# THIS IS A POWERFUL COMMAND! DO NOT run this command on your local computer - ever!!
#
# In this particular case, removing all of the files makes things easier if you
# need to re-run these examples by allowing you start with a clean directory
# every time.
!rm -rf *

# wget retrieves files from a remote location
!wget https://www.dropbox.com/s/pofcl26lvoj6073/instacart-market-basket-analysis.zip

/content
--2020-10-06 20:23:13--  https://www.dropbox.com/s/pofcl26lvoj6073/instacart-market-basket-analysis.zip
Resolving www.dropbox.com (www.dropbox.com)... 162.125.65.1, 2620:100:6021:1::a27d:4101
Connecting to www.dropbox.com (www.dropbox.com)|162.125.65.1|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/pofcl26lvoj6073/instacart-market-basket-analysis.zip [following]
--2020-10-06 20:23:13--  https://www.dropbox.com/s/raw/pofcl26lvoj6073/instacart-market-basket-analysis.zip
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc6469319cc85c72d57292972b5a.dl.dropboxusercontent.com/cd/0/inline/BAy4DojjjHmNbkNIMZ8aE_bSloAbhrPcKDNXFrd6lG5gTYtwUVH4eZpQnY7mq3N0CS2mCUXa099oZbVeQCiH1Pnn9Mr8owt5zHpRNtJy77RoZsstA0-0gZeywS46jFzYocg/file# [following]
--2020-10-06 20:23:14--  https://uc6469319cc85c72d57292972b5a.dl.dropboxusercontent.com/cd/0/inline/BAy4DojjjHmNbkNIMZ8aE_bSloAbhrPcKDNXFrd6lG5gTYtwUVH4eZpQnY7mq3N0CS2mCUXa099oZbVeQCiH1Pnn9Mr8owt5zHpRNtJy77RoZsstA0-0gZeywS46jFzYocg/file
Resolving uc6469319cc85c72d57292972b5a.dl.dropboxusercontent.com (uc6469319cc85c72d57292972b5a.dl.dropboxusercontent.com)... 162.125.65.15, 2620:100:6021:15::a27d:410f
Connecting to uc6469319cc85c72d57292972b5a.dl.dropboxusercontent.com (uc6469319cc85c72d57292972b5a.dl.dropboxusercontent.com)|162.125.65.15|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /cd/0/inline2/BAx2qpbSUgBmDF5khXHi6Ln2dVG_nZ2VCJr9mlnLll0pByjJ6wHEhvt6t47QAvjVKsJMwO5O-Ywz-SruCxqBGSXsT6Y72bbY-TQpTys0AoxlvK4kfyJLhjlDGQUZ_9SgKmd8CCTLSzNk4Qn_q9F9KtuhR82_EuRLMWTcWfBOjpzNnjPYf6EOk_vJncruJoquKGYwXeP8gVIb0330M5rH2MymXOPUwFsgi6XtNjsG0tINgFPlEDcEVEU1ahn_KmCXHvduvdDHC4v-hC03MosB23QjjYSbsyARyh3XgySaRPYj24HzSg1SD32nREKltqmf9FGBIVVXJlbegpCL13HA8UeEURO2fIkHyYljROeZr29I3A/file [following]
--2020-10-06 20:23:14--  https://uc6469319cc85c72d57292972b5a.dl.dropboxusercontent.com/cd/0/inline2/BAx2qpbSUgBmDF5khXHi6Ln2dVG_nZ2VCJr9mlnLll0pByjJ6wHEhvt6t47QAvjVKsJMwO5O-Ywz-SruCxqBGSXsT6Y72bbY-TQpTys0AoxlvK4kfyJLhjlDGQUZ_9SgKmd8CCTLSzNk4Qn_q9F9KtuhR82_EuRLMWTcWfBOjpzNnjPYf6EOk_vJncruJoquKGYwXeP8gVIb0330M5rH2MymXOPUwFsgi6XtNjsG0tINgFPlEDcEVEU1ahn_KmCXHvduvdDHC4v-hC03MosB23QjjYSbsyARyh3XgySaRPYj24HzSg1SD32nREKltqmf9FGBIVVXJlbegpCL13HA8UeEURO2fIkHyYljROeZr29I3A/file
Reusing existing connection to uc6469319cc85c72d57292972b5a.dl.dropboxusercontent.com:443.
HTTP request sent, awaiting response... 200 OK
Length: 205616541 (196M) [application/zip]
Saving to: ‘instacart-market-basket-analysis.zip’

instacart-market-ba 100%[===================>] 196.09M  17.2MB/s    in 11s

2020-10-06 20:23:26 (17.2 MB/s) - ‘instacart-market-basket-analysis.zip’ saved [205616541/205616541]

In [22]:
# Unzip the archive
#
# Creates a new directory called instacart-market-basket-analysis

!unzip instacart-market-basket-analysis.zip

Archive:  instacart-market-basket-analysis.zip
   creating: instacart-market-basket-analysis/
  inflating: __MACOSX/._instacart-market-basket-analysis
  inflating: instacart-market-basket-analysis/order_products__prior.csv.zip
  inflating: __MACOSX/instacart-market-basket-analysis/._order_products__prior.csv.zip
  inflating: instacart-market-basket-analysis/.DS_Store
  inflating: __MACOSX/instacart-market-basket-analysis/._.DS_Store
  inflating: instacart-market-basket-analysis/order_products__train.csv.zip
  inflating: __MACOSX/instacart-market-basket-analysis/._order_products__train.csv.zip
  inflating: instacart-market-basket-analysis/aisles.csv.zip
  inflating: __MACOSX/instacart-market-basket-analysis/._aisles.csv.zip
  inflating: instacart-market-basket-analysis/orders.csv.zip
  inflating: __MACOSX/instacart-market-basket-analysis/._orders.csv.zip
  inflating: instacart-market-basket-analysis/departments.csv.zip
  inflating: __MACOSX/instacart-market-basket-analysis/._departments.csv.zip
  inflating: instacart-market-basket-analysis/products.csv.zip
  inflating: __MACOSX/instacart-market-basket-analysis/._products.csv.zip

In [25]:
# Change into the newly-unzipped directory
#
# % sign is required to change to a new directory -- you can't use !cd like
# other commands
#
# Optional technical details:
#
# % makes the command apply to the **entire notebook environment**, which is
# what you need to do to change the working directory
#
# The ! sign **opens a new shell process** behind the scenes to execute the
# command -- this works fine for regular commands like unzip and ls
#
# Therefore, !cd would apply only to that new shell and wouldn't change the
# global notebook environment
#
# If this makes your heard hurt, don't worry too much about it. We'll talk
# more about the shell and operating systems stuff later in the program.

%cd instacart-market-basket-analysis

/content/instacart-market-basket-analysis

In [28]:
# Unzip all .csv.zip files in the directory
!unzip "*.zip"

Archive:  products.csv.zip
  inflating: products.csv
   creating: __MACOSX/
  inflating: __MACOSX/._products.csv

Archive:  order_products__train.csv.zip
  inflating: order_products__train.csv
  inflating: __MACOSX/._order_products__train.csv

Archive:  aisles.csv.zip
  inflating: aisles.csv
  inflating: __MACOSX/._aisles.csv

Archive:  orders.csv.zip
  inflating: orders.csv
  inflating: __MACOSX/._orders.csv

Archive:  order_products__prior.csv.zip
  inflating: order_products__prior.csv
  inflating: __MACOSX/._order_products__prior.csv

Archive:  departments.csv.zip
  inflating: departments.csv
  inflating: __MACOSX/._departments.csv

6 archives were successfully processed.

In [29]:
# List all csv files in the current directory
# -l specifies the "long" listing format, which includes additional info on each file
# -h specifies "human readable" file size units
!ls -l -h *.csv

-rw-r--r-- 1 root root 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 root root  270 May  2  2017 departments.csv
-rw-r--r-- 1 root root 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 root root  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 root root 104M May  2  2017 orders.csv
-rw-r--r-- 1 root root 2.1M May  2  2017 products.csv

# Assignment

## Practice joining data

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

**Here is what you need to do:**

* First, write down which columns you need and which dataframes have them.
* Next, merge these into a single dataframe.
* Then, use pandas functions from the previous lesson to get the **counts of the top 10 most frequently ordered products**.

###1) Read in and concatenate the order_products__prior.csv and order_products__train.csv CSVs.  Name the resulting dataset order_products.

In [30]:
##### YOUR CODE HERE #####
import numpy as np
import pandas as pd

In [ ]:
opp = pd.read_csv('order_products__prior.csv')
opt = pd.read_csv('order_products__train.csv')
orders= pd.read_csv("orders.csv")

In [46]:
#Concatenate the two appropriately
order_products = pd.concat([opp, opt])
order_products.shape

(33819106, 4)

###2) Create a list called ten_products that contains the names of the top 10 products ordered.  Be very careful about spelling and capitalization.

In [ ]:
from IPython.display import display, Image

In [70]:
products = pd.read_csv("products.csv")
products.head()

   product_id  ... department_id
0           1  ...            19
1           2  ...            13
2           3  ...             7
3           4  ...             1
4           5  ...            13

[5 rows x 4 columns]

In [80]:
order_products_mapped = pd.merge(order_products, products[['product_id','product_name']], on='product_id', )

In [97]:
##### YOUR CODE HERE #####
top_ten = ["Banana", "Bag of Organic Bananas","Organic Strawberries","Organic Baby Spinach","Organic Hass Avocado","Organic Avocado","Large Lemon","Strawberries","Limes","Organic Whole Milk"]
## Took me forever to figure out where to get this information. Turns out it was just given in the intro!!!

###3) Read in products.csv and name the dataset "products".

In [90]:
##### YOUR CODE HERE #####
## Already done above
products.head()

   product_id  ... department_id
0           1  ...            19
1           2  ...            13
2           3  ...             7
3           4  ...             1
4           5  ...            13

[5 rows x 4 columns]

###4) Select only the rows of the products dataset that contain one of the top 10 most ordered products.  Rename that dataset "products".

In [104]:
##### YOUR CODE HERE #####
filtered_products = products[products['product_name'].isin(top_ten)]
filtered_products.head(10)

       product_id            product_name  aisle_id  department_id
13175       13176  Bag of Organic Bananas        24              4
16796       16797            Strawberries        24              4
21136       21137    Organic Strawberries        24              4
21902       21903    Organic Baby Spinach       123              4
24851       24852                  Banana        24              4
26208       26209                   Limes        24              4
27844       27845      Organic Whole Milk        84             16
47208       47209    Organic Hass Avocado        24              4
47625       47626             Large Lemon        24              4
47765       47766         Organic Avocado        24              4

###5) Crete a dataset called product_orders that merges order_products and products.

In [135]:
##### YOUR CODE HERE #####
# Change of names. (To not lose work) I am going to be merging filtered_products with order_products_mapped. I could just as easily run the filter on order_products_mapped
 # order_products_mapped.shape = (33819106,5)
order_products_mapped_ten = order_products_mapped[order_products_mapped['product_name'].isin(top_ten)]
# order_products_mapped_ten.shape = 2418314,5 meaning ~31M orders were not of top ten items. Mr. Pareto???
order_products_mapped_ten = order_products_mapped_ten.sort_values(by="order_id")
#Glad I got that finally sorted (pun intended)
order_products_mapped_ten.head()

## Now for lambda's way:
product_orders = pd.merge_ordered(order_products, filtered_products[['product_id','product_name']], on='product_id'  )
product_orders.head()
## Of course there will be lots of NAN

<bound method NDFrame.head of           order_id  product_id  add_to_cart_order  reordered product_name
0             1107           1                  7          0          NaN
1             5319           1                  3          1          NaN
2             7540           1                  4          1          NaN
3             9228           1                  2          0          NaN
4             9273           1                 30          0          NaN
...            ...         ...                ...        ...          ...
33819101   3401313       49688                  5          0          NaN
33819102    655800       49688                 10          1          NaN
33819103   2198380       49688                 10          0          NaN
33819104   2508423       49688                  3          0          NaN
33819105   2986153       49688                 16          0          NaN

[33819106 rows x 5 columns]>

###6) Create a dataset called merged that merges product_orders and orders.

In [ ]:
##### YOUR CODE HERE #####

###7) Print the top 5 rows of the merged dataset.

In [136]:
##### YOUR CODE HERE #####
order_products_mapped_ten.head()

         order_id  product_id  ...  reordered            product_name
1039726         1       13176  ...          0  Bag of Organic Bananas
1532449         1       47209  ...          0    Organic Hass Avocado
262494          3       21903  ...          1    Organic Baby Spinach
1318865         5       47209  ...          0    Organic Hass Avocado
660276          5       13176  ...          1  Bag of Organic Bananas

[5 rows x 5 columns]

###9) Print the number of times each food appears in the merged dataset.  (Hint: use .valuecounts() )

In [138]:
##### YOUR CODE HERE #####
order_products_mapped_ten['product_name'].value_counts()
# They add up bzw tie out to the number previously determined

Banana                    491291
Bag of Organic Bananas    394930
Organic Strawberries      275577
Organic Baby Spinach      251705
Organic Hass Avocado      220877
Organic Avocado           184224
Large Lemon               160792
Strawberries              149445
Limes                     146660
Organic Whole Milk        142813
Name: product_name, dtype: int64

###10) Run the following code to test for duplicate products in a single order.

In [140]:
##### Run this code #####

order_products_mapped_ten.duplicated(subset=['order_id', 'product_id']).value_counts()

False    2418314
dtype: int64

### Conclusion? - This dataset does not have any information about the quantity of items ordered, only unique items ordered and whether the shopper had bought any items in past visits. So our counts of how many times the top 10 products were ordered will really be the number of orders that the top 10 products were included in.

### In order to count the frequency of orders of a given product we need to combine orders and products so that we have names associated with the products in each order.

###11) Print the top 5 rows of the products dataset.

In [ ]:
##### YOUR CODE HERE #####

###12) Merge together the order_products and products datasets and call the dataset product_orders.

In [ ]:
##### YOUR CODE HERE #####
# I think I've done this. I think last cell ahead is last thing I need.

###13) Determine the number of unique instances of 'product name'.  This will tell you how many times each of the top 10 products was ordered.

In [142]:
##### YOUR CODE HERE #####
# but not the total number of them
#isn't this the same as above? I can't keep track of which table is what though, because I jumped ahead and stuck with my system
order_products_mapped_ten['product_name'].value_counts()

Banana                    491291
Bag of Organic Bananas    394930
Organic Strawberries      275577
Organic Baby Spinach      251705
Organic Hass Avocado      220877
Organic Avocado           184224
Large Lemon               160792
Strawberries              149445
Limes                     146660
Organic Whole Milk        142813
Name: product_name, dtype: int64

# Portfolio Project Milestone

Watch the Portfolio Project (formerly known as Build Week) kickoff video to get a sense of what you will accomplish over the next few weeks:
https://youtu.be/WYi9EXH-9lU